.cart.is-hidden .cart__overlay {
  opacity: 0;
  visibility: hidden;
}
.cart.is-hidden .cart__contents {
  transform: translate(0, 0);
}

.cart__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.25s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
}
.cart__contents {
  position: fixed;
  top: 15%;
  bottom: 0;
  left: 100%;
  width: 500px;
  height: 92%;
  overflow: auto;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  transform: translate(-100%, 0);
}
.cart__products {
  padding: 28px;
}
